@import "./../colors.less";
@import "./../breakpoints.less";

.calendar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media @wide {
    .calendar-container {
        flex-direction: row;
        flex-wrap: wrap;

        .events {
            // explicitly set the height to ensure
            // correct scrolling behavior in wide view
            height: 100%;
        }
    }
}

.calendar {
    display: flex;
    flex: 0 1 40%;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 1px;

    .day {
        /* on a row of 8 cols, each col will need 12.5%
        so we set the basis to 13% to always ensure wrapping after the 7th col */
        flex: 1 0 13%;
        padding: 5px 0 10px 0;
        outline: 1px solid rgba(50, 50, 50, 0.1);
        cursor: pointer;

        &.selected {
            background-color: rgba(99, 99, 99, 0.2);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }

        &.today .date {
            font-weight: bold;
        }

        .dots {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2px;

            .dot {
                border: 2px solid transparent;

                &.starts-on-this-day {
                    margin-left: 4px;
                }

                &.ends-on-this-day {
                    margin-right: 4px;
                }

                each(@colors, {
                    &.@{key} {
                        border-color: @value;
                    }
                })
            }
        }
    }
}