@import "./../colors.less";

.events {
    flex-grow: 1;
    overflow: auto;

    .segment {
        >.event {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            text-align: left;
            padding: 2px 5px 5px 5px;
            align-items: unset;
            gap: 4px;

            label {
                color: gray;
                font-style: italic;
                font-size: smaller;
            }

            .timeline {
                display: flex;

                .time {
                    width: 50%;
                }
            }

            .details {
                display: flex;
                flex-wrap: wrap;

                label {
                    width: 100%;
                }

                .detail {
                    display: flex;
                    width: 50%;

                    &.link {
                        margin-left: auto;
                        align-items: flex-start;
                    }

                    &.cannot-be-shiny {
                        text-decoration: line-through;
                    }

                    &.none {
                        color: gray;
                    }
                }
            }

            svg,
            a svg {
                width: 1em;
                height: 1em;
                margin-right: 2px;
                margin-top: 0.25em;
            }

        }

        each(@colors, {
            &.@{key} {
                border: 3px solid @value;
                border-top: 0;

                .title {
                    --title-bg: @value;
                    background-color: var(--title-bg);
                }
            }
        })
    }
}