.search {
    display: flex;
    border: 1px solid black;

    input {
        flex-grow: 1;
        border: 0;
        outline: 0;
        padding-left: 0.5em;
    }

    .clear {
        border: 0;
        outline: 0;
        background-color: transparent;
        padding-right: 0.5em;
    }

    ::placeholder {
        font-style: italic;
    }
}