.collapses {
    .segment {
        margin-bottom: 0.5rem;

        .title {
            color: white;
            text-align: left;
            padding: 0.5em;
            position: relative;
            cursor: pointer;

            .caret {
                position: absolute;
                right: 0.5em;
            }
        }
    }
}